@media (max-width: 450px) {
    #banner-container {
        display: none;
    }

    #main-container,
    #form-box {
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #reg-container,
    #get-app-container {
        width: 100%;
        border: none;
    }

    footer {
        width: 90%;
    }

    #footer-links li {
        margin-bottom: 1rem;
    }
}